*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

body{
    background-color: black;
    max-width: 1440px;
    margin: 0 auto;
}

@media (max-width: 1440px){
    .main-wrapper{
        width: 100vw;
    }
}

.back-text{
    position: relative;
    z-index: -2000;
}

#cursor-image{
    position: absolute;
    display: none;
    transform: translate(-50%, -50%);
    cursor: none;
    transition: all 0.1s ease;
    z-index: -1;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 3rem 3rem 0 3rem;
}

.logo{
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
}

.logo:hover{
    cursor: pointer;
}

.menu-line{
    height: 3px;
    width: 35px;
    background-color: white;
    margin-bottom: 7px;
}

.menu:hover{
    cursor: pointer;
}

.hero-wrapper{
    cursor: none;
    margin: 0 auto;
    padding-top: 3rem;
}

.hero{
    padding-top: 10rem;
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

.hero p{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 6rem;
    line-height: 5.5rem;
    color: white;
    margin: 0 auto;
}

@media (max-width: 768px){
    .hero p{
        font-size: 5rem;
        font-weight: 600;
        line-height: 4rem;
        width: 90%;
    }
}

@media (max-width: 425px){
    .hero p{
        font-size: 4rem;
        font-weight: 600;
        line-height: 3.5rem;
        width: 90%;
    }
}

.scroll-down{
    width: fit-content;
    margin: 0 auto;
    padding: 7rem 0;
}


.scroll-arrow{
    position: relative;
    left: 106px;
    bottom: 52px;
}

.scroll-circle{
    animation: scroll-animation 7s linear infinite;
}


@keyframes scroll-animation {
    100% { 
      transform: rotate(-360deg);
    }
}

.portfolio{
    background-color: white;
    padding: 10rem 0;
}

.portfolio-wrapper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px){
    .portfolio-wrapper{
        width: 90%;
    }
}

.portfolio-title p{
    font-size: 5rem;
    color: black;
    font-family: 'Playfair Display', serif;
}

.portfolio-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 4rem;
}

@media (max-width: 425px){
    .portfolio-grid{
        grid-template-columns: 1fr;
    }
}

.portfolio-item{
    overflow: hidden;
    cursor: pointer;
}

.portfolio-item img{
    width: 100%;
    transition: 0.2s ease;
}

.portfolio-item img:hover{
    transform: scale(1.2, 1.2);
}

.about{
    padding: 10rem 0 0 0;
    overflow: hidden;
    height: 1900px;
}

.about-title{
    text-align: center;
}

.about-title p{
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    color: white;
    margin-bottom: 4rem;
}

.about-wrapper{
    position: relative;
}

@media (max-width: 1024px){
    .about-img img{
        width: 100vw;
    }
}

.about-text{
    background-color: white;
    height: fit-content;
    width: 80%;
    padding: 4rem 6rem;
    position: absolute;
    right: 0;
    top: 40%;
}

.about-text p{
    color: black;
    font-size: 2.25rem;
    font-weight: 300;
}

@media (max-width: 768px){
    .about-text{
        width: 100%;
        top: 60%;
        padding: 3rem 4rem;
    }
    .about-text p{
        font-size: 2rem;
    }
}

@media (max-width: 425px){
    .about-text{
        width: 100%;
        top: 60%;
        padding: 3rem 2.5rem;
    }
    .about-text p{
        font-size: 1.5rem;
    }
}

.about-text p b{
    font-weight: 700;
}

.reviews{
    margin-top: 10rem;
    overflow: hidden;
}

.reviews-title{
    text-align: center;
    margin-bottom: 7rem;
}

.reviews-title p{
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    color: white;
}

.reviews-card{
    display: grid;
    grid-template-columns: 1fr 480px;
    width: 781px;
}

@media (max-width: 425px){
    .reviews-card{
        grid-template-columns: 1fr;
        width: fit-content;
    }
}
.card-img{
    width: fit-content;
    height: fit-content;
}

.card-text{
    background-color: white;
    padding: 2rem 4rem; 
    height: 359px;
    overflow: hidden;
}

@media (max-width: 425px){
    .card-text{
        padding: 1rem 2rem;
        width: 70vw;
        height: fit-content;
    }
}

.card-title p{
    font-weight: 800;
    font-size: 2rem;
    line-height: 105.52%;
}

.card-para{
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

.card-author{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}


.reviews-row{
    display: flex;
    gap: 2rem;
}

@media (max-width: 425px){
    .card-title p{
        font-weight: 700;
        font-size: 1rem;
    }

    .card-para p{
        font-size: 0.7rem;
    }

    .card-author p{
        font-size: 0.7rem;
    }
    .reviews-row{
        flex-direction: column;
        margin: 0 auto;
        width: fit-content;
    }
    .reviews img{
        width: 70vw;
    }
}

.row-first, .row-third{
    animation: move-first 20s linear infinite;
    margin-bottom: 2rem;
}

.row-second{
    transform: translateX(-1000px);
    animation: move-second 20s linear infinite;
    margin-bottom: 2rem;
}


@media (max-width: 425px){
    .row-second, .row-third{
        display: none;
    }

    .row-first{
        animation: none;
    }
}

@keyframes move-first{
    50%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes move-second{
    50%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-1000px);
    }
}

.contact{
    text-align: center;
    margin-top: 20rem;
    margin-bottom: 20rem;
}

.contact-title p{
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    color: white;
    margin-bottom: 5rem;
}

.contact-text p{
    font-weight: 700;
    font-size: 3.75rem;
    color: white;
    cursor: pointer;
    transition: all 0.25s ease;
    word-break: break-all;
}

.contact-text p:hover{
    color: rgb(90, 90, 90);
}

@media (max-width: 768px){
    .contact-text p{
        font-size: 2.5rem;
    }
}

@media (max-width: 425px){
    .contact-text p{
        font-size: 1.2rem;
    }
}

footer{
    background-color: white;
    padding: 2rem 4rem;
}

.social{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

@media (max-width: 425px){
    .social{
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
        align-items: center;
    }
}

.social-item{
    border: 3px solid black;
    padding: 0.5rem 1rem;   
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}


.social-item:hover{
    background-color: black;
    color: white;
}

.social-item p{
    font-weight: 600;
    font-size: 1.5rem;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}

@media (max-width: 425px){
    .footer-bottom{
        flex-direction: column;
    }
}

.bottom-left p{
    font-weight: 600;
    font-size: 2.75rem;
}

@media (max-width: 768px){
    .bottom-left p{
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
}

.bottom-right{
    display: flex;
    gap: 2rem;
}

@media (max-width: 425px){
    .bottom-right{
        flex-direction: column;
        align-items: center;
        gap: 0.3rem;
    }
}

.bottom-right p{
    font-weight: 400;
    cursor: pointer;
}

.bottom-right p:hover{
    text-decoration: underline;
}
